{% extends 'base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block body %}
    <div class="container mt-5 w-25">
        <div class="d-flex flex-column align-items-center">
            <h1 class="text-center mb-3">Ajouter une nouvelle image</h1>

            {{ include('picture/_form.html.twig') }}

            <a href="{{ path('app_picture_index') }}">Retour à la liste des images</a>
        </div>
    </div>
{% endblock %}
