{% extends 'base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h1 class="text-center mb-3">Ajouter une nouvelle image</h1>
            <div class="row justify-content-center w-100">
                <div class="col col-sm-8 col-md-6 col-lg-4">
                    {{ include('picture/_form.html.twig') }}
                </div>
            </div>
            <a href="{{ path('app_picture_index') }}">Retour à la liste des images</a>
        </div>
    </div>
    <div class="d-none d-lg-block">
        <img src="{{ asset('assets/images/panorama.jpg') }}" alt="Panorama savoyard" class="img-fluid panorama-img"/>
        <p class="img-credit text-center">
            Crédits photo
            <a href="https://unsplash.com/pt-br/@romwald?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                Romuald Ruelle
            </a>
            sur
            <a href="https://unsplash.com/fr/photos/XBU7CMwQ8Rg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
                Unsplash
            </a>
        </p>
    </div>
{% endblock %}
