{% extends 'base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle image</h1>

    {{ include('picture/_form.html.twig') }}

    <a href="{{ path('app_picture_index') }}">Retour à la liste des images</a>
{% endblock %}
