@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora&family=Montserrat&display=swap');

body {
    background-color: #B6AC97;
    color: #392C1E;
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.5rem;
}

p, td, .accordion-li, input, select {
    font-family: 'Hind Madurai', sans-serif;
}

.custom-carousel-item {
    width: 550px;
}

.navbar{
    background-color: white;
    border-bottom: #906427 solid 2px;
    font-size: 1.4rem;
}

footer p {
    background-color: white;
    border: #906427 1px solid;
    border-radius: 10px;
    padding: 0.8rem;
}

footer a {
    color: #392C1E;
}

tbody td {
    height: 100px;
}

th, td {
    color: #392C1E;
}

.card-price {
    font-size: 1.6rem;
    font-weight: bold;
    color: #906427;
}

select {
    text-align: center;
}

.form-label, .col-form-label {
    font-weight: bold;
}

.img-index {
    width: 200px;
}

.img-show {
    width: 400px;
}

.inner-accordion > .accordion-button::after {
    background-image: initial;
}

.inner-accordion > .accordion-button:not(.collapsed)::after {
    background-image: initial;
}

.user-notice {
    color: #906427;
}

.invalid-feedback {
    color: #87090C;
}

.img-credit {
    font-size: 0.8rem;
}

@media screen and (max-width: 685px) {
    h1 {
        font-size: 1.6rem;
    }

    p, li, td, a.btn-fb {
        font-size: 0.9rem;
    }

    caption {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 780px) {
    .col-form-label {
        font-size: 0.8rem;
    }
}