{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h1>Notre carte</h1>
            {% for category in categories %}
                <h3 class="mb-3">{{ category.name }}</h3>
                <table class="table table-primary table-borderless table-hover w-75">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Plat</th>
                            <th scope="col" class="text-center d-none d-md-block">Description</th>
                            <th scope="col" class="text-center">Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dish in dishes %}
                            {% if category.id == dish.category.id %}
                                <tr>
                                    <td class="fw-bold">{{ dish.name }}</td>
                                    <td class="d-none d-md-block">{{ dish.description }}</td>
                                    <td class="card-price text-center">{{ dish.price }}€</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}