{% extends 'base.html.twig' %}

{% block title %}Préférences{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h1 class="mb-3">Vos préférences</h1>
            <p>
                Les préférences sauvegardées ici apparaîtront en tant que valeurs par défaut dans les formulaires de
                réservation
            </p>
            {{ form_start(form) }}
                {{ form_row(form.defaultGuests, {'label' : 'Nombre de convives par défaut'}) }}
                {{ form_row(form.allergies, {'label' : 'Allergies'}) }}
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary">Sauvegarder</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}